
<table class="table table-striped"> 
    <tr *ngFor="let response of response | paginate:{itemsPerPage: 6, currentPage:p}"
[ngStyle]="{'background-color': response.option == true ? 'honeydew' : null }">    
        <td class="d-inline-block col-3"><b>Id:</b> {{ response.id }} 
        <br><b>Name:</b> {{ response.name }} 
        <br><b>Email:</b> {{ response.email }} 
        <br><b>Phone:</b> {{ response.phone }}</td> 
        <td class="d-inline-block col-6"><b>Question:</b> {{ response.question }}</td> 
        <td class="d-inline-block col-1"><b>Date:</b> {{ response.time | date:'medium'}}</td> 
        <td class="d-inline-block col-2">
            <Button (click)="highlight(response.id, response)" *ngIf="response.option == false" class="btn btn-success" >Highlight</Button>
            <Button (click)="unhighlight(response.id, response)" *ngIf="response.option == true" class="btn btn-primary" >Unhighlight</Button><br>
            <Button class="btn btn-danger"  (click)="deleteRequest(response.id)">Delete</Button>
        </td>
    </tr> 
</table> 

<div id="pagination">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>