
<div class="container">
    <!-- <h2>Login</h2> -->
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
       <!-- Icon -->
       <div class="form-group">
        <img src="../../assets/images/logo.png" id="icon" alt="User Icon" />
      </div>
        <small class="text-danger">{{msg}}</small>
      <div class="form-group">
        <!-- <label for="email">Email:</label> -->
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
         [(ngModel)]="manager.email" required #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
         [class.is-invalid]="email.invalid && email.touched">
         <div *ngIf="email.errors && email.invalid && email.touched ">
            <small class="text-danger" *ngIf="email.errors.required" [class.d-none]="email.valid || email.untouched">Email is required field</small>
            <small class="text-danger" *ngIf="email.errors.pattern" [class.d-none]="email.valid || email.untouched">Enter the valid email</small>
         </div>
      </div>
      <div class="form-group">
        <!-- <label for="pwd">Password:</label> -->
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
        [(ngModel)]="manager.password" required #password="ngModel" 
        [class.is-invalid]="password.invalid && password.touched" >
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button  [disabled]="loginform.form.invalid" type="submit" class="btn btn-primary">Login</button>
    </form>
    <!-- <small class="float-right" (click)="gotoregistration()" >New user? Register here</small> -->
    <!-- <small class="float-right" [routerLink]="['/registration']" >New user? Register here</small> -->
  </div>
