.btn {
    margin-right: 5px;
}

.container {
    padding-top: 40px;
}

img {
    height: 250px;
    width: 250px;
    border: 10px;
    border-color: darkkhaki;
    border-style: solid;
}

.btn-success {
    margin-top: 20px;
}