<div class="container">
    <div class="row my-2">
        <div class="col-lg-4 order-lg-1 text-center">
            <img *ngIf="retrievedImage" [src]="retrievedImage" (load)="getImage()" class="mx-auto img-fluid rounded-circle d-block" alt="avatar">
            <img *ngIf="!retrievedImage" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-thumbnail" 
            alt="profile photo"  >
            
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" (change)="onFileChanged($event)" id="file" >
                <br><button *ngIf="retrievedImage" class="btn btn-success" (click)="onUpdate()" value="upload" >Upload</button>
                    <button *ngIf="!retrievedImage" class="btn btn-success" (click)="onUpload()" value="upload" >Upload</button>
            </label>
            <div class="container row">
                <div class="col-md-12">
                    <div *ngIf=message>{{message}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2">
            <form #f="ngForm" (ngSubmit)="updateProfile(f.value)">
                <div div class="row"  *ngIf="showMsg">
                    <div class="col-lg-12">
                      <p class="alert alert-success">
                        <strong>Update Success!</strong> Changes are saved!
                      </p>
                    </div>
                  </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">First name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="first_name" [(ngModel)]="response.first_name" #first_name="ngModel">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="last_name"  [(ngModel)]="response.last_name" #last_name="ngModel">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" autocomplete="false" name="username"  [(ngModel)]="response.username" #username="ngModel">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" name="email"  [(ngModel)]="response.email" #email="ngModel">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Password</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" name="password"  [(ngModel)]="response.password" #password="ngModel">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <!-- <input type="reset" class="btn btn-secondary" value="Cancel"> -->
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </div>
            </form>      
        </div>
        


    
    
