<div class="container" >
    <div div class="row"  *ngIf="showMsg">
      <div class="col-lg-12">
        <p class="alert alert-success">
          <strong>Post created succesfully!</strong> Create another post!
        </p>
      </div>
    </div>
  <form #f="ngForm" (ngSubmit)="createPost(f)">
    <!-- Icon -->
    <div class="form-group">
      <img src="../../assets/images/logo.png" id="icon" alt="User Icon" />
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter image URL" name="imgUrl"
         ngModel required #img_url="ngModel" 
         [class.is-invalid]="img_url.invalid && img_url.touched">
         <small class="text-danger" [class.d-none]="img_url.valid || img_url.untouched">Image URL is required field</small>  
      </div>
  
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter description" name="description"
       ngModel required #description="ngModel" 
       [class.is-invalid]="description.invalid && description.touched">
       <small class="text-danger" [class.d-none]="description.valid || description.untouched">Description is required field</small>  
    </div>

    <div  class="form-group">
        <input type="text" [hidden]="true" class="form-control"  name="managerId" [(ngModel)]="response.id"  required >   
    </div>
    

    <button [disabled]="f.form.invalid" type="submit" class="btn btn-primary" >submit</button>
  </form>
  </div>