.img-fluid {
    
    width: auto;
    height: auto;
    min-width: 100%;
    max-width: 100%;
}
#post-img {
    float: left;
    height: 50px;
    width: 50px;
    border: 4px;
    border-color: darkkhaki;
    border-style: solid;
}
#user{
    padding: 13px 10px 20px 10px ;
}

#line{
    background-color: whitesmoke;
    margin-top: 20px;
}
#title{
    font-weight: bold;    
}

#block{
    max-width: 70%;
}
#comments {
    padding: 10px 0px 5px 15px;

}
#comment {
    padding-left: 15px;
}
.btn{
    border: 0%;
    margin: 0%;
    padding: 0%;
}

#deleteComment{
    color: whitesmoke;
}
#deleteComment:hover{
    color: rgba(230, 6, 6, 0.993);
}

#add{
    padding: 10px;
}
#deletePost {
    float: right;
    color: whitesmoke;
}
#deletePost:hover {
    color: rgba(230, 6, 6, 0.993);
}