
<div id="block" class="row">
    <div class="col-12" *ngFor="let response of response">
        <div id="line">
            <div id="user">
                <!-- <a class="btn btn-danger">load</a> -->
                <img *ngIf="retrievedImage" [src]="retrievedImage" (load)="load(response.manager.image.name)" id="post-img" class="rounded-circle" alt="avatar">
                <img *ngIf="!retrievedImage" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" id="post-img" class="rounded-circle " alt="profile photo">
                <p style="margin:0;padding-left: 60px;" id="title">{{ response.manager.username }} 
                    <button *ngIf="response.manager.id == loggedUser.id" id="deletePost" class="btn" (click)="deletePost(response.id)" >delete</button> </p> 
                <p style="margin:0;padding-left: 60px;" >{{ response.description}}</p> 
                
            </div>
                <img class=" img-fluid" src="{{response.imgUrl}}" alt="Image">
                
            <!-- viev comments button -->
            <p *ngIf="response.comments.length > 0" class="btn" type="submit"  id="comments">Comments  <svg class="bi bi-chat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.678 11.894a1 1 0 01.287.801 10.97 10.97 0 01-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 01.71-.074A8.06 8.06 0 008 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 01-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 00.244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.52.263-1.639.742-3.468 1.105z" clip-rule="evenodd"/>
              </svg> {{ response.comments.length }}  
            </p>

            <!-- comments get generated here, andn below filter them by post id -->
            <div id="comment" *ngFor="let cresponse of comments" >
                <p *ngIf="response.id === cresponse.postId"><b  style="padding-right: 10px;">{{cresponse.manager.username}}</b>{{cresponse.content}} 
                <button *ngIf="response.manager.id == loggedUser.id || cresponse.managerId == loggedUser.id " id="deleteComment" class="btn" (click)="deleteComment(cresponse.id)" >delete</button></p>
            </div>

            
            <form  #f="ngForm" (ngSubmit)="newComment(f)">
                <input class="form-control" type="text" name="content" placeholder="Add a comment..."  ngModel>
                <input type="text" [hidden]="true" class="form-control"  name="postId" [(ngModel)]="response.id"  required >  
                <input type="text" [hidden]="true" class="form-control"  name="managerId" [(ngModel)]="loggedUser.id"  required >  
                <button  id="add" class="btn" type="submit" >Post</button>
            </form>
            
        </div> 
             
    </div>
</div>
