<!-- <br><br>
<div class="footer bg-dark">
    <p>Villa Stankovic © 2020</p>
</div> -->
  

<div id="footer" class="row">
    <div class="col-12">
        <div class="bg-dark">
            <p>Villa Stankovic © 2020</p>
        </div>    
    </div>
</div>

