/* div { */
  /* min-height: calc(100vh - 65px); */
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 10;
  } */

  #footer{
    margin-top: 20px;
    min-height: calc(-100vh - 65px);
    text-align: center;
    color: whitesmoke;
    
  }

  div{
    bottom: 0;
    z-index: 10;
    position: relative;
  }
  p{
    padding-top: 20px;
    padding-bottom: 10px;
  }