<div class="container" >
  <div div class="row"  *ngIf="showMsg">
    <div class="col-lg-12">
      <p class="alert alert-success">
        <strong>Registration Success!</strong> Register another user!
      </p>
    </div>
  </div>
<form #f="ngForm" (ngSubmit)="registerUser(f)">
  <!-- Icon -->
  <div class="form-group">
    <img src="../../assets/images/logo.png" id="icon" alt="User Icon" />
  </div>
  
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter first name" name="first_name"
     ngModel required #first_name="ngModel" 
     [class.is-invalid]="first_name.invalid && first_name.touched">
     <small class="text-danger" [class.d-none]="first_name.valid || first_name.untouched">Name is required field</small>  
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter last name" name="last_name"
     ngModel required #last_name="ngModel" 
     [class.is-invalid]="last_name.invalid && last_name.touched">
     <small class="text-danger" [class.d-none]="last_name.valid || last_name.untouched">Name is required field</small>  
  </div>

  <div class="form-group">
    <small [class.text-danger]="msg.status==500" >{{msg.message}}</small>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
     ngModel required #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
     [class.is-invalid]="email.invalid && email.touched">
     <div *ngIf="email.errors && email.invalid && email.touched ">
        <small class="text-danger" *ngIf="email.errors.required" [class.d-none]="email.valid || email.untouched">Email is required field</small>
        <small class="text-danger" *ngIf="email.errors.pattern" [class.d-none]="email.valid || email.untouched">Enter the valid email</small>
     </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter username" name="username"
     ngModel required #username="ngModel"  pattern="[a-zA-Z0-9-]+"
     [class.is-invalid]="username.invalid && username.touched">
    <div *ngIf="username.errors && username.invalid && username.touched ">
      <small class="text-danger" *ngIf="username.errors.required" [class.d-none]="username.valid || username.untouched">Username is required field</small>
      <small class="text-danger" *ngIf="username.errors.pattern" [class.d-none]="username.valid || username.untouched">Enter the valid username. Letters and numbers only!</small>
   </div>
     <!-- <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required field</small>   -->
  </div>

  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
    ngModel required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" >
    <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" name="cpassword"
    ngModel required #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && cpassword.touched" >
    <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Confirm password must match password</small>
  </div>

  <button [disabled]="f.form.invalid" type="submit" class="btn btn-primary" >submit</button>
</form>
</div>