.container {
  max-width: 450px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
}

input[type=email], input[type=password], input[type=text] {
  background-color: lightgoldenrodyellow;
  border-radius: 5px 5px 5px 5px;
  height: 50px;
}
