<div class="table-responsive">
<table class="table table-striped"> 
    <tr>
        <th class="d-inline-block col-0"><b>Id:</b></th>
        <th class="d-inline-block col-2"><b>First Name:</b></th>
        <th class="d-inline-block col-2"><b>Last Name:</b></th>
        <th class="d-inline-block col-3"><b>Email:</b></th>
        <th class="d-inline-block col-1"><b>Date:</b></th>
        <th class="d-inline-block col-2"><b>Option:</b></th>
    </tr>
    <tr *ngFor="let response of response | paginate:{itemsPerPage: 6, currentPage:p}"
    [ngStyle]="{'border-color': response.option == true ? 'green' : null,
                'border-style' : response.option == true ? 'solid' : null }">    
        <td class="d-inline-block col-0"> {{ response.id }} 
        <td class="d-inline-block col-2"> {{ response.first_name }} 
        <td class="d-inline-block col-2"> {{ response.last_name }}
        <td class="d-inline-block col-3"> {{ response.email }}  
        <td class="d-inline-block col-1"> {{ response.registration_date | date:'medium'}}</td> 
        <td class="d-inline-block col-2">
            <Button (click)="admin(response.id, response)" *ngIf="response.option === false" class="btn btn-success">Admin</Button>
            <Button (click)="unadmin(response.id, response)" *ngIf="response.option === true" class="btn btn-primary">Undo</Button>
            <Button class="btn btn-danger" (click)="deleteUser(response.id)">Delete</Button></td>
    </tr> 
</table> 
</div>
<div id="pagination">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>